.box {
    width: 300px;
    margin: auto;
    background: brown;
    padding: 21px;
    border-radius: 6px;
    margin-top: 255px;
}

.box h1 {
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.box p {
    font-family: arial;
    text-align: center;
    line-height: 32px;
    color: white;
    letter-spacing: px;
    font-size: 17px;
    border-radius: 5p;
}
.imgbox {
    width: 250px;
    margin: auto;
    margin-top: 34px;
}

.imgbox img {
    width: 100%;
}